
#footer{
	padding-left:20px;
	background-color:#8c1515;
}
.wrapper p
{
	color:#FFF;
}
.footer_header{
	color:#CCC;
	font-size:25px;
}

hr{
	color:#006;
}

.float-cont{
    float:right;
    text-align: right;
    transform: 
}

.logo {
    font-size: 2em;
    font-weight: bold;
}
.c-wid {
    width: 100%;
    width:inherit;
    padding-top:  0px;
    padding-left: 0px;
    padding-right: 0px;

}

.container {
    width: inherit;
    padding-top:  0px;
    padding-left: 0px;
    padding-right: 0px;
}


.navi{
	background-color:#900;
}

.navbar .navbar-toggleable-md .fixed-top{
	background-color:#C00;
}

.nav-item{
	color:#FFF;
}


.main-body{
    width: inherit;
    padding-top: 15px;
    padding-left:10px;
    padding-right: :10px;
    padding-bottom:auto;
}
.d-pic d-card{
    border-style: none;
    border-bottom-width: thin;
    border-bottom-color: bisque;
    float:left;
    width:30px;
    height:30px;
    text-align:left;
    
}
.d-pic{
    width:10em;
    height: 10em;
}

.panel-heading {
    background-color: gainsboro;
    font-family:'Cormorant SC','Times New Roman';
    color: maroon;
}


.panel-body {
    font-family: 'Bellefair','Times New Roman';
    font-size: 15px;
    text-align: left;
}

